*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
main{
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
     flex-direction: column;
}

h1{
    font-size: 2rem;
    color: #555;
    font-weight: 500;

}
p{
    color: #777;
    font-size: 1.3rem;
    font-weight: 500;
}